.shadow {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.header {
    box-sizing: border-box;
    font-family: "Nunito Sans";
    background-color: white;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 20px;
    height: 20px;
}

.header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}