html,
body {
    margin: 0;
    padding: 0;
}

.flexContainer {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.gridContainer * {}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: lightblue;
}

.image {
    height: 175px;
}

.summary {}

.ingredients {}

.picture {}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.left * {
    box-sizing: border-box;
    background-color: lightblue;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}

.right {
    flex: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.right * {
    box-sizing: border-box;
    background-color: lightblue;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}