@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

.summary>div:first-child {
    font-family: "Oswald", sans-serif;
}

.ingredients>div:first-child {
    font-family: "Oswald", sans-serif;
}

.instructions>div:first-child {
    font-family: "Oswald", sans-serif;
}

* {
    box-sizing: border-box;
    --blue: #0ea5e9;
    --grey: #e5e7eb;
}

.flexContainer {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    background-color: var(--grey);
    padding: 20px;
    display: flex;
    gap: 20px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: lightblue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.image {
    box-sizing: border-box;
    height: 175px;
    background-size: 100% 100%;
    background-position: center;
    border: solid lightblue;

}

.summary {
    border: solid lightblue;
}

.instructions {
    border: solid lightblue;
}

.ingredients {
    border: solid lightblue;
}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.left * {
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}

.right {
    flex: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.right * {
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}

.ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 5px;
}

.ingredientsContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.keywords {
    border: solid lightblue;
}

.shadow {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}